.iot-page{
    position: relative;
    display: flex;
    flex-direction: row;
    .iot-container{
        h3{
            padding-top: 30px;
            text-align: center;
            color: #93bcf7;
            line-height: 2;
            font-size: 20px;
            letter-spacing: 2px;
        }
        .null-data-tag{
            top: 280px;
            bottom: 50px;
        }
    }

    .left-container{
        width: calc(32% - 7px);
        border-radius: 4px;
    }

    .iot-wrap{
        height: 140px;
        margin-bottom: 14px;
        box-sizing: border-box;
        >h2.plane-title:before{
            background-image: url('../../assets/images/2/2.png');
        }
        .plane-content{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 10px 25px 0;
            box-sizing: border-box;
        }
        div.iot-item{
            position: relative;
            flex: none;
            display: flex;
            flex-direction: column;
            width: 230px;
            height: 110px;
            padding-left: 65px;
            padding-top: 4px;
            box-sizing: border-box;
            justify-content: center;
            background-size: 100% 100%;
            cursor: pointer;
            z-index: 1;
            &:before{
                position: absolute;
                content: "";
                width: 71px;
                height: 71px;
                top: 19px;
                left: 10px;
                z-index: -1;
                background-size: 100% 100%;
                background-image: url('../../assets/images/2/5.png');
            }
            &.active, &:hover{
                color: #ff9999;
                &:before{
                    animation: rotate360 5s linear infinite;
                }
            }
            >div{
                text-align: center;
                transition: color 0.3s ease-out;
                will-change: color;
                &:nth-of-type(1){
                    font-size: 15px;
                    margin-bottom: 11px;
                    letter-spacing: 1px;
                }
                &:nth-of-type(2){
                    font-size: 20px;
                    // font-weight: bold;
                }
            }
            &:nth-of-type(1){
                &:before{
                    left: 11px;
                    top: 18px;
                }
                background-image: url('../../assets/images/2/3.png');
            }
            &:nth-of-type(2){
                background-image: url('../../assets/images/2/4.png');
            }
        }
    }

    .map-container{
        width: calc(68% - 7px);
        margin-left: 14px;
        >div.map-wrap{
            width: 100%;
            height: 100%;
        }
    }
    .map-ul{
        display: flex;
        flex-wrap: wrap;
        padding-top:10px;
        font-size: 12px;
        .map-li{
            width: 100px;
            display: flex;
            align-items: center;
            margin-bottom: 6px;
            .map-image{
                margin-right: 4px;
                height: 15px;
                width: 15px;
                display: block;
            }
        }
    }
    .boxContent{
        color:white;
        background:rgba(15, 71, 130, 1);
        border-radius:5px;
        padding:10px;
        box-shadow:0 0 5px rgba(255, 255, 255, 1)
    }
    .search-wrap{
        position: absolute;
        top: 20px;
        right: 40px;
        z-index: 3;
        .search-input{
            position: relative;
            display: flex;
            align-items: center;
            i{
                position: absolute;
                color: #395374;
                left: 12px;
                top: 10px;
                font-size: 16px;
            }
            input{
                flex: none;
                background: #d5dbe2;
                width: 290px;
                height: 32px;
                color: #395374;
                border: 4px solid rgba(#395374, 0.9);
                padding: 0 8px 0 35px;
                font-size: 16px;
                &::placeholder{
                    font-style: italic;
                    letter-spacing: 1px;
                }
            }
            button{
                width: 65px;
                height: 40px;
                color: #fff;
                background: #3479df;
                border: none;
                font-size: 16px;
                letter-spacing: 2px;
            }
        }
        .search-list{
            background: rgba(#395374, 0.9);
            width: 340px;
            padding: 8px 8px 10px;
            box-sizing: border-box;
            display: none;
            &.active{
                display: block;
            }
        }
        div.search-type{
            display: flex;
            flex-direction: row;
            justify-content: center;
            >div{
                display: flex;
                align-items: center;
                color: #9e9e9e;
                cursor: pointer;
                transition: all 0.3s ease-out;
                font-size: 18px;
                &:first-child{
                    margin-right: 50px;
                }
                img{
                    margin-right: 10px;
                    opacity: 0.3;
                }
                &.active{
                    color: #fff;
                    img{
                        opacity: 1;
                    }
                }
            }
        }

        ul.search-history{
            margin-top: 8px;
            padding: 5px 0;
            border-top: 1px solid #bbb;
            border-bottom: 1px solid #bbb;
            color: #9e9e9e;
            line-height: 1.8;
            li{
                cursor: pointer;
                transition: color 0.3s ease-out;
                &:hover{
                    color: #fff;
                }
            }
        }
        
        div.search-history-delete{
            display: flex;
            justify-content: flex-end;
            padding-top: 6px;
            color: #9e9e9e;
            letter-spacing: 1px;
            cursor: pointer;
            transition: color 0.3s ease-out;
            &:hover{
                color: #fff;
            }
        }
    }

    .iot-container{
        >h2.plane-title:before{
            background-image: url('../../assets/images/2/1.png');
        }
        >ul.data-list{
            display: flex;
            flex-direction: row;
            padding: 15px 8px 30px;
            li{
                flex: 1;
                cursor: pointer;
                &:before{
                    content: "";
                    display: block;
                    width: 71px;
                    height: 64px;
                    // background-size: 100% auto;
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin: 0 auto 15px;
                }
                >div{
                    text-align: center;
                    &:nth-of-type(1){
                        color: #2bbbfb;
                        font-size: 20px;
                        line-height: 2.5;
                        margin-bottom: 5px;
                    }
                    &:nth-of-type(2){
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        font-size: 15px;
                        cursor: pointer;
                        &:before{
                            content: "";
                            display: block;
                            width: 10px;
                            height: 10px;
                            border: 1px solid #2bbbfb;
                            border-radius: 50%;
                            margin-right: 8px;
                            box-sizing: border-box;
                        }
                    }
                }
                &.active{
                    >div:nth-of-type(2){
                        &:before{
                            border-color: #2bbbfb;
                            background: radial-gradient(at center, #fff 0%, #2bbbfb 60%, #2bbbfb 100%);
                        }
                    }
                }
            }
            li:not(:first-child){
                position: relative;
                &:after{
                    position: absolute;
                    content: '';
                    width: 1px;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    background-image: linear-gradient(to bottom, #0c205a, #0fb1e1);
                }
            }
        }
        li.temperature{
            &:before{
                background-image: url('../../assets/images/4/8.png');
            }
        }
        li.humidity{
            &:before{
                background-image: url('../../assets/images/4/7.png');
            }
        }
        li.light{
            &:before{
                background-image: url('../../assets/images/4/5.png');
            }
        }
        li.pressure{
            &:before{
                background-image: url('../../assets/images/4/6.png');
            }
        }
        li.wind{
            &:before{
                background-image: url('../../assets/images/4/11.png');
            }
        }
        li.rain{
            &:before{
                background-image: url('../../assets/images/4/12.png');
            }
        }
        li.soil-temperature{
            &:before{
                background-image: url('../../assets/images/4/13.png');
            }
        }
        li.soil-humidity{
            &:before{
                background-image: url('../../assets/images/4/14.png');
            }
        }
        li.ec{
            &:before{
                background-image: url('../../assets/images/4/15.png');
            }
        }
        li.ph{
            &:before{
                background-image: url('../../assets/images/4/16.png');
            }
        }
        li.water{
            &:before{
                background-image: url('../../assets/images/4/17.png');
            }
        }
        li.fertilizer{
            &:before{
                background-image: url('../../assets/images/4/18.png');
            }
        }
    }

    .iot-container{
        position: relative;
        height: calc(100% - 154px);
        .chart-unit{
            left: 22px;
            top: 245px;
            width: 80px;
        }
        >ul.selector{
            display: flex;
            flex-direction: row;
            color: #fff;
            justify-content: center;
            padding-top: 8px;
            font-size: 15px;
            >li{
                position: relative;
                display: flex;
                flex-direction: row;
                letter-spacing: 1px;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s ease-out;
                color: #ffffff;
                padding-left: 20px;
                transition: color 0.3s ease-out;
                will-change: color;
                &:nth-of-type(1){
                    margin-right: 35px;
                }
                &:after{
                    position: absolute;
                    content: "";
                    display: block;
                    top: 5px;
                    left: -5px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #ffffff;
                    transition: background-color 0.3s ease-out;
                    will-change: background-color;
                }
                &:before{
                    position: absolute;
                    content: "";
                    display: block;
                    width: 22px;
                    height: 1px;
                    background-color: #ffffff;
                    left: -10px;
                    top: 10px;
                    transition: background-color 0.3s ease-out;
                    will-change: background-color;
                }
                &.active{
                    color: #87d0f6;
                    font-weight: bold;
                    &:before, &:after{
                        background: #87d0f6;
                    }
                }
            }
        }
        >div.plane-content{
            height: calc(100% - 270px);
            // border: 1px solid #f00;
        }
        &:hover{
            .chart-unit{
                display: block;
            }
        }
        &.full-screen{
            >ul.selector>li:nth-of-type(1){
                margin-right: 235px;
            }
        }
    }

    .camera-video{
        >div.plane-content{
            display: flex;
            align-items: center;
            height: calc(100% - 45px);
            // border: 1px solid #f00;
            .video-container{
                width: 100%;
                // border: 1px solid #ff0;
            }
        }
    }
    .cameraCenter{
        display: flex;
        align-items: center;
        justify-content: center
    }
    .video-container{
        // border: 5px solid rgba(15, 71, 130, 0.6);
        // border-radius: 6px;
        height: 100%;
        // margin-top: 40px;
        box-sizing: border-box;
        background: #000;
    }
    .anchorBL{
        display: none;
    }
    .panel-tools{
        .download-icon{
            display: none;
        }
    }

    .camera360{
        .plane-title:before{
            display: none;
        }
        .plane-content{
            position: relative;
            .video-container{
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100%;
                >div>video{
                    object-fit: fill;
                }
            }
        }
    }

    .map-reset-btn{
        position: absolute;
        top: 12px;
        right: 10px;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 40px;
        border-radius: 2px;;
        background-color: rgba(255, 255, 255, 0.6);
        color: rgba(#4d4d4d, 0.8);
        font-size: 20px;
        transition: all 0.3s ease-out;
        &:hover{
            color: #000;
        }
    }

    .map-info-tip{
        color: white;
        background: rgba(15, 71, 130, 0.8);
        border-radius: 4px;
        padding: 10px;
        font-size: 14px;
        width: 114px !important;
        text-align: center;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    }

    .photo-viewer .plane-content{
        overflow: hidden;
    }

    .photo-viewer{
        h2.plane-title>span{
            margin-left: 12px;
            line-height: 40px;
            letter-spacing: 0;
            font-weight: normal;
            font-size: 14px;
        }
    }

    .control-panel{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: rgba(32, 72, 151, 0.95);
        width: 210px;
        height: 210px;
        box-shadow: 0 0 60px rgba(200, 200, 200, 0.99);
        border-radius: 50%;
        z-index: 9999;
        overflow: hidden;
        right: 25px;
        bottom: 20px;
        transform: scale(0.3, 0.25) translateX(488px);
        transform-origin: center center;
        transition: all 0.35s ease-out;
        cursor: pointer;
        >div{
            display: none;
        }
        &.active{
            transform: scale(1, 1) translateX(0px);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
            >div.control-button{
                display: block;
            }
            .inner-control-panel{
                display: flex;
            }
        }
        .inner-control-panel{
            width: 120px;
            height: 120px;
            background: #43517c;
            border-radius: 50%;
        }
        div.control-button{
            position: absolute;
            // border: 1px solid #f00;
            cursor: pointer;
            &:hover{
                background: rgba(#43517c, 0.15);
                i{
                    color: #fff;
                }
            }
        }
        i{
            display: block;
            color: #999;
            font-size: 26px;
            transition: all 0.3s ease-out;
            outline: none;
            background: transparent;
        }
        .control-panel-top{
            top: 0;
            left: 50%;
            padding: 8px 70px;
            transform: translateX(-50%);
            i{
                transform: rotate(-90deg);
            }
        }
        .control-panel-bottom{
            bottom: 0;
            left: 50%;
            padding: 8px 70px;
            transform: translateX(-50%);
            i{
                transform: rotate(90deg);
            }
        }
        .control-panel-left{
            left: 0;
            padding: 70px 8px;
            top: 50%;
            transform: translateY(-50%);
            i{
                transform: rotate(180deg);
            }
        }
        .control-panel-right{
            right: 0;
            padding: 70px 8px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .inner-control-panel{
        display: flex;
        overflow: hidden;
        >div{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #999;
            transition: all 0.3s ease-out;
            ::selection{
                background: transparent;
            }
            &:nth-of-type(1), &:nth-of-type(3){
                flex: 1;
                font-size: 16px;
                &:hover{
                    background: rgba(#3479df, 0.25);
                }
            }
            &:nth-of-type(2){
                border-left: 1px solid rgba(#fff, 0.05);
                border-right: 1px solid rgba(#fff, 0.05);
                width: 48px;
                background: rgba(#ff9999, 0.15);
                &:hover{
                    background: rgba(#ff9999, 0.25);
                }
            }
            &:hover{
                color: #fff;
            }
        }
    }
}

@keyframes opac{
    from {
        opacity: 1;
        width: 50%;
        height: 50%;
    }
    to {
        opacity: 0;
        width: 120%;
        height: 120%;
    }
}

/* google map marker styles */
div.google-map-cluster{
    >div:nth-of-type(1){
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        &:before{
            content: "";
            position: absolute;
            width: 50%;
            height: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
        .w2{
            animation-delay: 0.8s;
        }
        .w3{
            animation-delay: 1.4s;
        }
        >div{
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation-duration: 2.0s;
            animation-iteration-count: infinite;
        }      
    }
    >div:nth-of-type(2){
        display: none;
        position: absolute;
        background: rgba(12, 24, 56, 0.9);
        color: #ccc;
        line-height: 1.8;
        padding: 8px 12px 8px;
        border-radius: 4px;
        width: 250px;
        text-align: left;
        letter-spacing: 1px;
        z-index: 999;
        >div{
            line-height: 1.6;
            font-size: 15px;
            border-bottom: 1px dotted rgba(#aaa, 0.4);
            margin-bottom: 7px;
        }
        >ul{
            display: flex;
            flex-wrap: wrap;
            >li{
                width: 50%;
                flex: none;
                display: flex;
                align-items: center;
                transition: all 0.3s ease-out;
                cursor: pointer;
                &:hover{
                    color: #f99;
                    text-decoration: underline;
                }
                &:before{
                    content: "";
                    display: block;
                    width: 12px;
                    height: 12px;
                    background-size: 100% 100%;
                    margin-right: 5px;
                    margin-top: -1px;
                }
                &.icon-IOT_TYPE_FM1::before{
                    background-image: url('../../assets/images/1/icon-FM1.png');
                }
                &.icon-IOT_TYPE_FM2::before{
                    background-image: url('../../assets/images/1/icon-FM2.png');
                }
                &.icon-IOT_TYPE_GUN::before{
                    background-image: url('../../assets/images/1/icon-gun.png');
                }
                &.icon-IOT_TYPE_360::before{
                    background-image: url('../../assets/images/1/icon-360.png');
                }
                &.icon-IOT_TYPE_SPHERE::before{
                    background-image: url('../../assets/images/1/icon-sphere.png');
                }
            }
        }
    }
    &:hover{
        background-image: none !important;
        >div:nth-of-type(2){
            display: block;
        }
        >div:nth-of-type(1){
            opacity: 1;
            div{
                animation-name: opac;
            }
        }
    }
    &.m1{
        background-image: url('../../assets/images/0/m1.png');
        >div:nth-of-type(1){
            &:before{
                background: rgba(0, 140, 255, 0.9);
            }
            .w1, .w2, .w3{
                background: rgba(0, 140, 255, 0.99);
            }
        }
    }
    &.m2{
        background-image: url('../../assets/images/0/m2.png');
        >div:nth-of-type(1){
            &:before{
                background: rgba(255, 191, 0, 0.9);
            }
            .w1, .w2, .w3{
                background: rgba(255, 191, 0, 0.99);
            }
        }
    }
    &.m3{
        background-image: url('../../assets/images/0/m3.png');
        >div:nth-of-type(1){
            &:before{
                background: rgba(255, 0, 0, 0.9);
            }
            .w1, .w2, .w3{
                background: rgba(255, 0, 0, 0.99);
            }
        }
    }
    &.m4{
        background-image: url('../../assets/images/0/m4.png');
        >div:nth-of-type(1){
            &:before{
                background: rgba(255, 0, 237, 0.9);
            }
            .w1, .w2, .w3{
                background: rgba(255, 0, 237, 0.99);
            }
        }
    }
    &.m5{
        background-image: url('../../assets/images/0/m5.png');
        >div:nth-of-type(1){
            &:before{
                background: rgba(156, 0, 255, 0.9);
            }
            .w1, .w2, .w3{
                background: rgba(156, 0, 255, 0.99);
            }
        }
    }
}
div[data-title^="IOT"]{
    opacity: 1 !important;
    div{
        display: none;
        position: absolute;
        width: auto;
        white-space: nowrap;
        padding: 0 8px;
        height: 35px;
        top: -40px;
        transform: translateX(-50%);
        left: 50%;
        line-height: 35px;
        opacity: 1;
        letter-spacing: 1px;
        border-radius: 4px;
        opacity: 0;
        color: #ffffff;
        transition: all 0.3s ease-out;
    }
    &:hover{
        div{
            display: block;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 1400px) {
    .iot-page{
        .left-container{
            width: calc(32% - 4px);
        }
        .iot-wrap{
            margin-bottom: 8px;
            div.iot-item{
                width: 200px;
                height: 100px;
                &:before{
                    width: 63px;
                    height: 63px;
                    top: 18px;
                    left: 10px;
                }
                >div{
                    &:nth-of-type(1){
                        font-size: 14px;
                    }
                    &:nth-of-type(2){
                        font-size: 18px;
                    }
                }
            }
        }
        .iot-container{
            height: calc(100% - 150px);
            >ul.data-list{
                padding:12px 5px 10px;
                li{
                    &:before{
                        transform: scale(0.8, 0.8);
                        transform-origin: center center;
                        margin-bottom: 0px;
                    }
                    >div{
                        &:nth-of-type(1){
                            font-size: 16px;
                            margin-bottom: 0;
                        }
                        &:nth-of-type(2){
                            font-size: 13px;
                        }
                    }
                }
            }
            >ul.selector{
                font-size: 14px;
            }
            .chart-unit{
                top: 185px;
            }
            >div.plane-content{
                height: calc(100% - 200px);
            }
        }
        .map-container{
            width: calc(68% -4px);
            margin-left: 8px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .iot-page{
        .iot-wrap{
            margin-bottom: 8px;
            div.iot-item{
                width: 150px;
                height: 78px;
                >div{
                    &:nth-of-type(1){
                        font-size: 12px;
                        margin-bottom: 6px;
                    }
                    &:nth-of-type(2){
                        font-size: 13px;
                    }
                }
                &:before{
                    width: 45px;
                    height: 45px;
                    top: 15px;
                    left: 8px;
                }
                &:nth-of-type(1){
                    &:before{
                        top: 14px;
                        left: 9px;
                    }
                }
            }
        }
        .iot-container{
            >ul.data-list{
                padding: 8px 5px 6px;
                li{
                    &:before{
                        transform: scale(0.7, 0.7);
                    }
                    >div{
                        &:nth-of-type(1){
                            font-size: 14px;
                        }
                        &:nth-of-type(2){
                            font-size: 12px;
                            &:before{
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
            >ul.selector{
                font-size: 12px;
                >li{
                    &:before{
                        width: 18px;
                        top: 8px;
                        left: -9px;
                    }
                    &:after{
                        width: 10px;
                        height: 10px;
                        top: 4px;
                    }
                }
            }
            >div.plane-content{
                height: calc(100% - 185px);
            }
            .chart-unit{
                display: none !important;
            }
        }
    }
}
