@font-face {
  font-family: 'iconfont';  /* project id 1051212 */
  src: url('//at.alicdn.com/t/font_1051212_gm6cekuz9ze.eot');
  src: url('//at.alicdn.com/t/font_1051212_gm6cekuz9ze.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1051212_gm6cekuz9ze.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1051212_gm6cekuz9ze.woff') format('woff'),
  url('//at.alicdn.com/t/font_1051212_gm6cekuz9ze.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1051212_gm6cekuz9ze.svg#iconfont') format('svg');
}