@font-face {
  font-family: 'iconfont';  /* project id 1051212 */
  src: url('//at.alicdn.com/t/font_1051212_l2vogr015l.eot');
  src: url('//at.alicdn.com/t/font_1051212_l2vogr015l.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1051212_l2vogr015l.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1051212_l2vogr015l.woff') format('woff'),
  url('//at.alicdn.com/t/font_1051212_l2vogr015l.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1051212_l2vogr015l.svg#iconfont') format('svg');
}