@font-face {
    font-family: 'iconfont';  /* project id 1051212 */
    src: url('//at.alicdn.com/t/font_1051212_hy31u6fuxkj.eot');
    src: url('//at.alicdn.com/t/font_1051212_hy31u6fuxkj.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1051212_hy31u6fuxkj.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1051212_hy31u6fuxkj.woff') format('woff'),
    url('//at.alicdn.com/t/font_1051212_hy31u6fuxkj.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1051212_hy31u6fuxkj.svg#iconfont') format('svg');
}
