@font-face {
    font-family: 'iconfont';  /* project id 1051212 */
    src: url('//at.alicdn.com/t/font_1051212_uu17ov5qpc.eot');
    src: url('//at.alicdn.com/t/font_1051212_uu17ov5qpc.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1051212_uu17ov5qpc.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1051212_uu17ov5qpc.woff') format('woff'),
    url('//at.alicdn.com/t/font_1051212_uu17ov5qpc.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1051212_uu17ov5qpc.svg#iconfont') format('svg');
  }